<% layout('/layouts/boilerplate')%>
    <h1>Welcome Logged In Faculty/Student</h1>
    <a href="/courses/index">Courses</a>
    <a href="/teachers/index">Faculty</a>
    <a href="/students/index">Students</a>
