<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Edit Page for Student</h1>
    <form action="/students/edit/<%=student._id%>?_method=PUT" method="POST">
        <div>
            <label for="name">Student Name</label>
            <input type="text" name="name" id="name" value="<%=student.name%>">
        </div>
        <div>
            <label for="age">Student Age</label>
            <input type="number" name="age" id="age" value="<%=student.age%>">
        </div>
        <button>Update</button>
    </form>
</body>

</html>