<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Faculty Form</title>
</head>

<body>
    <h1>Create New Faculty Member</h1>
    <a href="/teachers/index">Faculty</a>
    <form action="/teachers/new" method="POST">
        <div>
            <label for="teacher">Name</label>
            <input type="text" name="name" id="teacher" placeholder="Mr. Urban">
        </div>
        <div>
            <label for="age">Age</label>
            <input type="number" name="age" id="age" placeholder="28">
        </div>
        <button>Add</button>
    </form>

</body>

</html>